
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Models.FrameWork.Category

<h3 class="page-title">Sửa thuốc</h3>
<!-- BORDERED TABLE -->
<div class="panel">

    <div class="panel-body">

        <div class=" col-sm-12 col-md-12 col-lg-12">

            @using (Html.BeginForm("Edit", "Category", FormMethod.Post))
            {

                @Html.AntiForgeryToken()


                <div class="form-group">

                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Tên thuốc" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.SoLuong)
                    @Html.TextBoxFor(model => model.SoLuong, new { @class = "form-control", @placeholder = "Số lượng thuốc" })
                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })


                </div>

                <div class="form-group">
                    <div class="form-check">


                        @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input", @placeholder = "Số lượng thuốc" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

                        @Html.LabelFor(model => model.Status, new { @class = "form-check-label" })

                    </div>
                </div>

                <button type="submit" class="btn btn-success">Sửa</button>
                <a href="/Category/Index" class="btn btn-default">Hủy</a>
            }

        </div>
    </div>
</div>
<!-- END BORDERED TABLE -->