@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Models.FrameWork.THUOC

<h3 class="page-title">Thêm thuốc</h3>
<!-- BORDERED TABLE -->
<div class="panel">

    <div class="panel-body">

        <div class=" col-sm-12 col-md-12 col-lg-12">

            @if (TempData["AlertMessage"] != null)
            {
                <div class="col-md-12">
                    <div id="AlertClass" class="alert @TempData["AlertType"]  hide">@TempData["AlertMessage"]</div>
                </div>
            }

            @using (Html.BeginForm("Create", "Medical", FormMethod.Post))
            {

                @Html.AntiForgeryToken()



                <div class="form-group">

                    @Html.LabelFor(model => model.TENTHUOC)
                    @Html.TextBoxFor(model => model.TENTHUOC, new { @class = "form-control", @placeholder = "Tên thuốc" })
                    @Html.ValidationMessageFor(model => model.TENTHUOC, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LOAITHUOC.TENLOAITHUOC)
                    @Html.DropDownListFor(m => m.MALOAITHUOC, ViewBag.ListLoaiThuoc as SelectList, "--Chọn 1 loại thuốc-- ", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LOAITHUOC.TENLOAITHUOC)


                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SOLUONG)
                    @Html.TextBoxFor(model => model.SOLUONG, new { @class = "form-control", @placeholder = "Số lượng thuốc" })
                    @Html.ValidationMessageFor(model => model.SOLUONG, "", new { @class = "text-danger" })


                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HUONGDANSUDUNG)
                    @Html.TextBoxFor(model => model.HUONGDANSUDUNG, new { @class = "form-control", @placeholder = "Hướng dẫn sử dụng" })
                    @Html.ValidationMessageFor(model => model.HUONGDANSUDUNG, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DONVITHUOC.TENDONVI)

                    @Html.DropDownListFor(m => m.MADONVI, ViewBag.ListThuoc as SelectList, "--Chọn 1 đơn vị-- ", new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.DONVITHUOC.TENDONVI)


                </div>
                <div class="form-group">
                    <div class="form-check">


                        @Html.CheckBoxFor(model => model.TINHTRANG, new { @class = "form-check-input", @placeholder = "Số lượng thuốc" })
                        @Html.ValidationMessageFor(model => model.TINHTRANG, "", new { @class = "text-danger" })

                        @Html.LabelFor(model => model.TINHTRANG, new { @class = "form-check-label" })

                    </div>
                </div>


                <a href="/Medical/Index" class="btn btn-default"><i class="lnr lnr-cross-circle modifier-icon"></i>Hủy</a>
                <button type="submit" class="btn btn-success" id="btn-add-medical"><i class="lnr lnr-plus-circle modifier-icon"></i>Thêm mới</button>
            }

        </div>
    </div>
</div>
