@model List<Models.FrameWork.THUOC>



<h3 class="page-title">Quản lý thuốc</h3>
<!-- BORDERED TABLE -->
<div class="panel">


    <div class="panel-body">

        @if (TempData["AlertMessage"] != null)
        {
            <div class="col-md-12">
                <div id="AlertClass" class="alert @TempData["AlertType"]  hide">@TempData["AlertMessage"]</div>
            </div>
        }

        </div>
        <div class=" col-sm-12 col-md-12 col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên thuốc</th>
                        <th>Loại thuốc</th>
                        <th>Đơn vị</th>
                        <th>Ngày nhập</th>
                        <th>Số lượng</th>
                        <th>Trạng thái</th>
                 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MATHUOC</td>
                            <td>@item.TENTHUOC</td>
                            <td>@item.LOAITHUOC.TENLOAITHUOC</td>
                            <td>@item.DONVITHUOC.TENDONVI</td>
                            <td>@item.NGAYNHAP.ToString("dd/MM/yyyy")</td>
                            <td>@item.SOLUONG</td>
                            <td>
                                @if (@item.TINHTRANG == true)
                                {
                                    <span class="badge bg-success">
                                        Còn sử dụng
                                    </span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">
                                        Hết sử dụng
                                    </span>
                                }
                            </td>
                      
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<!-- END BORDERED TABLE -->
@*<tr>
        <td></td>
        <td>@item.Status</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>*@


